*.md
.DS_Store
.eslintcache
.eslintrc
.github
.meteor
.npm
.meteorignore
.versions
.cursorignore
AGENTS.md
adapters/blank-example.js
adapters/blank-example.d.ts
jest.config.mjs
cover.jpg
cover.png
node_modules
npm-debug.log*
package.js
docs/
docs/*
test/
test/*
/coverage
.cursor/
